{% extends "layouts/base.html" %}
{% load widget_tweaks %}

{% block title %} Ventas {% endblock %}
{% block content %}
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Formularío de ventas</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Formularios</a></li>
                                <li class="breadcrumb-item"><a href="#!">Ventas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
         {% if message.tags %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

            <div class="row">
                <div class="col-sm-6">
                                        <div class="card table-card">
                        <div class="card-header">
                            <h5>Aprobación de backoffice</h5>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> max</span><span style="display:none"><i class="feather icon-minimize"></i> Min</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            {{grupo}}
                        </div>
                        <div class="card-body p-0">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="table-responsive">
                                        <div class="customer-scroll" style="height:200px;position:relative;">
                                            <table class="table table-hover m-b-0" border="1">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th><span>Fecha Solicitud</span></th>
                                                        <th><span>Cliente</span></th>
                                                        <th><span>Celular</span></th>
                                                        <th><span>ETC</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                <tr><td>{{documento.fecha_ingreso}}</td>
                                                <td>{{documento.numero_documento}}</td>
                                                <td>{{documento.celular}}</td>
                                                    {%if documento.scoring != "ANULADO"%}
                                                    <td>Etc</td>
                                                    {%endif%}
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5>Ingrese la información del cliente</h5>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
{% load widget_tweaks %}
											<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
											{% csrf_token %}
                                                    {% if form.non_field_errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {% for error in form.non_field_errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}
                                                    {% for field in form.visible_fields %}
                                                      <div class="form-group">
                                                        {{ field.label_tag }}
                                                        {% if form.is_bound %}
                                                          {% if field.errors %}
                                                            {% render_field field class="form-control is-invalid" %}
                                                            {% for error in field.errors %}
                                                              <div class="invalid-feedback">
                                                                {{ error }}
                                                              </div>
                                                            {% endfor %}
                                                          {% else %}
                                                            {% render_field field class="form-control is-valid" %}
                                                          {% endif %}
                                                        {% else %}
                                                          {% render_field field class="form-control" %}
                                                        {% endif %}

                                                        {% if field.help_text %}
                                                          <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        {% endif %}
                                                      </div>
                                                    {% endfor %}
                                                {% if form2.non_field_errors %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {% for error in form2.non_field_errors %}
                                                        {{ error }}
                                                        {% endfor %}
                                                    </div>
                                                    {% endif %}
                                                    {% for field in form2.visible_fields %}
                                                      <div class="form-group">
                                                        {{ field.label_tag }}
                                                        {% if form2.is_bound %}
                                                          {% if field.errors %}
                                                            {% render_field field class="form-control is-invalid" %}
                                                            {% for error in field.errors %}
                                                              <div class="invalid-feedback">
                                                                {{ error }}
                                                              </div>
                                                            {% endfor %}
                                                          {% else %}
                                                            {% render_field field class="form-control is-valid" %}
                                                          {% endif %}
                                                        {% else %}
                                                          {% render_field field class="form-control" %}
                                                        {% endif %}

                                                        {% if field.help_text %}
                                                          <small class="form-text text-muted">{{ field.help_text }}</small>
                                                        {% endif %}
                                                      </div>
                                                    {% endfor %}

                                                    <button type="submit"  class="btn btn-success" name="guardarc">Guardar</button>
                                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto">
                                            <span><h3>{{documento.tipo_documento}} # {{documento.numero_documento}}</h3></span>
                                            <img src="/media/{{documento.foto}}" alt="" width="45%">
                                            <embed src="/media/{{documento.documento}}" width="130%" height="900px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
{% block javascripts %}
<script src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script src="/static/smart-selects/admin/js/bindfields.js"></script>
{% endblock javascripts %}